
@using Microsoft.AspNetCore.Components.Web
@using GForumBelarus.WebSite.Models
@using GForumBelarus.WebSite.Services
@inject JsonFilePostService PostService
<div class="container">
	<div class="row">
	    
	    <div class="col-md-8 col-md-offset-2">
	        
    		<h1>Создать пост</h1>
    		
    		<form>   
                
              <div class="form-group">
                <label for="Title">Заголовок</label>
                <input @bind-value="@title" type="text" maxlength="30" class="form-control" id="Title"  rows="3">
              </div>

               <div class="form-group">
                <label for="Title">Добавьте обложку (URL)</label>
                <input @bind-value="@image" type="text" maxlength="100" class="form-control" id="Title"  rows="3">
              </div>

              <div class="form-group">
                <label for="Description">Описание</label>
                <input type="text" maxlength="500" class="form-control" id="Title"@bind-value="@descr" rows="3">
              </div>             
              
              <div class="form-group">
                <label for="Location">Месторасположение</label>
                <input type="text" maxlength="25" class="form-control" id="Title"@bind-value="@distr" rows="3">
              </div>     

              <div class="form-group">
                <label for="Tags">Категория</label>
               <input type="text" maxlength="15" @bind-value="@tag" class="form-control" id="exampleFormControlTextarea1" rows="3">
              </div>

                    <div class="form-group">
                <label for="UserName">Автор</label>
               <input type="text" maxlength="20" @bind-value="@creator" class="form-control" id="Title"  rows="3">
              </div>

               <div class="form-group">
                <label for="email">Ваш email адрес</label>
                <input type="email" maxlength="40" @bind-value="@Email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
              </div>

            <button type="button" class="btn btn-success"  @onclick="(e => NewPost(creator,image,title,descr,distr,tag,Email))">Опубликовать</button>                        
        </form>
       
		</div>
		
	</div>

</div>



@code {
    string title;
    string image;
    string descr;
    string creator;
    string distr;
    string tag;
    string Email;

    void NewPost(
            string creator,
            string image,
            string Title,
            string Description,
            string District,
            string Tag,
            string Email)

    {
        PostService.AddPost(creator, image,Title,Description,District,Tag,Email);
        HandleClick();
    }
                @inject NavigationManager NavigationManager;

    private void HandleClick()
    {
       NavigationManager.NavigateTo("/..", true);
    }

}
