
@using Microsoft.AspNetCore.Components.Web
@using GForumBelarus.WebSite.Models
@using GForumBelarus.WebSite.Services
@inject JsonFilePostService PostService
<div class="container">
	<div class="row">
	    
	    <div class="col-md-8 col-md-offset-2">
	        
    		<h1>Создать пост</h1>
    		
    		<form>   
                
              <div class="form-group">
                <label for="Title">Заголовок</label>
                <input @bind-value="@title" type="text" class="form-control" id="Title"  rows="3">
              </div>

               <div class="form-group">
                <label for="Title">Добавьте обложку (URL)</label>
                <input @bind-value="@image" type="text" class="form-control" id="Title"  rows="3">
              </div>

              <div class="form-group">
                <label for="Description">Описание</label>
                <input type="text" class="form-control" id="Title"@bind-value="@descr" rows="3">
              </div>             
              
              <div class="form-group">
                <label for="Location"></label>
                <input type="text" class="form-control" id="Title"@bind-value="@distr" rows="3">
              </div>     

              <div class="form-group">
                <label for="Tags">Теги</label><small> (Разделяйте их пробелами)</small>
               <input type="text" @bind-value="@tag" class="form-control" id="exampleFormControlTextarea1" rows="3">
              </div>

                    <div class="form-group">
                <label for="UserName">Автор</label>
               <input type="text" @bind-value="@creator" class="form-control" id="Title"  rows="3">
              </div>

               <div class="form-group">
                <label for="email">Ваш email адрес</label>
                <input type="email" @bind-value="@Email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
              </div>

            <button type="button" class="btn btn-success"  @onclick="(e => NewPost(creator,image,title,descr,distr,tag,Email))">ОпубликоDать</button>
             @*<button type="button" class="btn btn-secondary">Очистить поля</button>*@
             
              
        </form>
       
		</div>
		
	</div>

</div>

@code {
    string title;
    string image;
    string descr;
    string creator;
    string distr;
    string tag;
    string Email;

    void NewPost(
            string creator,
            string image,
            string Title,
            string Description,
            string District,
            string Tag,
            string Email)

			{
				PostService.AddPost(creator, image,Title,Description,District,Tag,Email);
			    			
			}

}
